<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>貓頭鷹博物館</title>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body>
    <h1>貓頭鷹博物館</h1>
    <div id="app" class="app">
      <div class="nav">
        <div class="nav-control">
          <p class="title">類型:</p>
          <select class="select" v-model="index.typeIndex">
            <option :value="null">請選擇</option>
            <option
              v-for="(typeName,id) in typeList"
              :key="typeName"
              :value="id"
            >
              {{typeName}}
            </option>
          </select>
        </div>
        <div class="nav-control">
          <p class="title"><label for="name">查詢:</label></p>
          <input
            id="name"
            type="text"
            placeholder="查詢條件"
            class="text"
            v-model.trim="filterString"
          />
        </div>
        <div class="nav-btn">
          <input
            type="button"
            class="btn"
            v-for="(text,id) in btnValues"
            :key="id"
            :value="text"
            :class="{choose:id===index.btnIndex}"
            @click="changeBtn(id)"
          />
        </div>
      </div>
      <div class="view">
        <div class="list" v-if="showUserList !== null">
          <div class="item" v-for="item in showUserList" :key="item.key">
            <input
              type="checkbox"
              :id="typeId+item.key"
              class="checkbox"
              :checked="getCheckValue(item.key)"
              @click="clickCheck(item.key)"
            />
            <label :for="typeId+item.key">{{item.showName || item.name}}</label>
          </div>
        </div>
        <div class="hint" v-else>
          請選擇類型
        </div>
      </div>
    </div>

    <script src="./assets/vue.js"></script>
    <script src="./assets/axios.min.js"></script>

    <script>
      ;(async function() {
        let preData = { 0: [], 1: [], 2: [], 3: [], 4: [] }

        let saveData = JSON.parse(localStorage.getItem('saveData')) || preData
        localStorage.removeItem('saveData')
        let setSaveData = function(key, value, has) {
          let dataArray = saveData[key]
          let index = dataArray.indexOf(value)
          if (index < 0) {
            if (has) dataArray.push(value)
          } else {
            if (!has) dataArray.splice(index, 1)
          }
          saveData[key] = dataArray
          window.localStorage.setItem('saveData', JSON.stringify(saveData))
        }

        let items = await axios
          .get('./assets/data.json')
          .then(res => res.data)
          .catch(() => [])

        new Vue({
          el: '#app',
          data: {
            items,
            index: {
              typeIndex: null,
              btnIndex: 0
            },
            checkboxData: {},
            filterString: '',
            btnValues: ['全部', '已捐贈', '未捐贈']
          },
          computed: {
            typeList() {
              return this.items.map(item => item.name)
            },
            typeId() {
              let index = this.index.typeIndex
              return index === null ? '' : this.items[index].id
            },
            itemList() {
              let index = this.index.typeIndex
              let data = index === null ? null : this.items[index].data
              return data
            },
            filterList() {
              let filter = this.filterString
              let list = this.itemList
              return filter
                ? list.filter(item => item.name.indexOf(filter) >= 0)
                : list
            },
            showList() {
              let list = this.filterList
              let index = this.index.btnIndex
              if (list !== null && index !== 0) {
                list = list.filter(
                  item => (index === 1) === this.getCheckValue(item.key)
                )
              }
              return list
            },
            showUserList() {
              let list = this.showList
              if (list !== null) {
                list.map(item => {
                  let name = item.name
                  if (item.price) {
                    name = `${name}($${item.price}/${item.place})`
                  } else if (item.hasfake && item.hasfake === 'Y') {
                    name = `${name}(有贗品)`
                  }
                  item.showName = name
                  return item
                })
              }
              return list
            }
          },
          methods: {
            changeBtn(index) {
              this.index.btnIndex = index
            },
            getCheckValue(key) {
              return this.checkboxData[this.typeId][key]
            },
            clickCheck(key) {
              let value = this.checkboxData[this.typeId][key]
              let has = !value
              this.checkboxData[this.typeId][key] = has
              let keys = this.index.typeIndex
              setSaveData(keys, key, has)
            }
          },
          mounted() {
            this.items.reduce((checkData, now, index) => {
              let userData = saveData[index]
              let dataHas = {}
              let data = now.data
              data.forEach(item => {
                let key = item.key
                let has = userData.indexOf(key) >= 0
                dataHas[key] = has
              })
              let id = now.id
              this.$set(this.checkboxData, id, dataHas)
            }, {})
          }
        })
      })()
    </script>
  </body>
</html>
