<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>貓頭鷹博物館</title>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body>
    <h1>貓頭鷹博物館</h1>
    <div id="app" class="app" v-cloak>
      <div class="nav">
        <div class="nav-control">
          <p class="title">角色:</p>
          <select class="player" v-model="playIndexSelect">
            <option v-for="playNo in player" :key="playNo" :value="playNo-1">
              {{playNo}}P
            </option>
          </select>
          <input type="button" class="btn" value="+" @click="addPlayer()" />
          <input type="button" class="btn" value="-" @click="delPlayer()" />
        </div>
        <div class="nav-control">
          <p class="title">類型:</p>
          <select class="select" v-model="typeIndexSelect">
            <option :value="null">請選擇</option>
            <option
              v-for="(typeName,id) in typeList"
              :key="typeName"
              :value="id"
            >
              {{typeName}}
            </option>
          </select>
        </div>
        <div class="nav-control">
          <p class="title">分類:</p>
          <select class="select" v-model="groupIndexSelect">
            <option
              v-for="(groupName,id,index) in groupList"
              :key="groupName"
              :value="id"
            >
              {{groupName}}
            </option>
          </select>
        </div>
        <div class="nav-control">
          <p class="title"><label for="name">查詢:</label></p>
          <input
            id="name"
            type="text"
            placeholder="查詢條件"
            class="text"
            v-model.trim="filterString"
          />
        </div>
        <div class="nav-btn">
          <input
            type="button"
            class="btn"
            v-for="(text,id) in btnValues"
            :key="id"
            :value="text"
            :class="{choose:id===index.btnIndex}"
            @click="changeBtn(id)"
          />
        </div>
      </div>
      <div class="view">
        <div class="list" v-if="showUserList !== null">
          <div class="item" v-for="item in showUserList" :key="item.key">
            <input
              type="checkbox"
              :id="typeId+item.key"
              class="checkbox"
              :checked="getCheckValue(item.key)"
              @click="clickCheck(item.key)"
            />
            <label :for="typeId+item.key">{{item.showName || item.name}}</label>
            <a v-show="item.urlshow" :href="item.url" target="_blank">試聽</a>
          </div>
        </div>
        <div class="hint" v-else>
          請選擇類型
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
